/* Variables */
:root {
  /* Colors */
  --dark-purple: #2f1c78;
  --purple: #9e4fa2;
  --red: #df3713;
  --orange: #f09403;
  --yellow: #e9d600;
  --gray: #d9d9d9;

  --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* Skins */
.bg-dark-purple { background-color: var(--dark-purple); }
.dark-purple { color: var(--dark-purple); }

.b--purple { border-color: var(--purple); }
.bg-purple { background-color: var(--purple); }
.purple { color: var(--purple); }

.b--red { border-color: var(--red); }
.bg-red { background-color: var(--red); }
.red { color: var(--red); }

.b--orange { border-color: var(--orange); }
.bg-orange { background-color: var(--orange); }
.orange { color: var(--orange); }

.b--yellow { border-color: var(--yellow); }
.bg-yellow { background-color: var(--yellow); }
.yellow { color: var(--yellow); }

.b--gray { border-color: var(--gray); }
.bg-gray { background-color: var(--gray); }
.gray { color: var(--gray); }

/* Fonts */
@font-face {
  font-family: "Aptifer Slab LT W04 Black";
  src: url("/fonts/d0d48f8dd5529a447458cc65a2cb3749.eot"); /* IE9*/
  src: url("/fonts/d0d48f8dd5529a447458cc65a2cb3749.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/fonts/d0d48f8dd5529a447458cc65a2cb3749.woff2") format("woff2"), /* chrome、firefox */
  url("/fonts/d0d48f8dd5529a447458cc65a2cb3749.woff") format("woff"), /* chrome、firefox */
  url("/fonts/d0d48f8dd5529a447458cc65a2cb3749.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/fonts/d0d48f8dd5529a447458cc65a2cb3749.svg#Aptifer Slab LT W04 Black") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "DIN Next Rounded LT W01 Regular";
  src: url("/fonts/ab596f21664c5582567537d241e2a53e.eot"); /* IE9*/
  src: url("/fonts/ab596f21664c5582567537d241e2a53e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/fonts/ab596f21664c5582567537d241e2a53e.woff2") format("woff2"), /* chrome、firefox */
  url("/fonts/ab596f21664c5582567537d241e2a53e.woff") format("woff"), /* chrome、firefox */
  url("/fonts/ab596f21664c5582567537d241e2a53e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/fonts/ab596f21664c5582567537d241e2a53e.svg#DIN Next Rounded LT W01 Regular") format("svg"); /* iOS 4.1- */
}

.aptifer { font-family: "Aptifer Slab LT W04 Black", serif; }
.din { font-family: "DIN Next Rounded LT W01 Regular", sans-serif; }

/* Anchors */
a:link,
a:visited {
  color: var(--dark-purple);
}

/* Animations */
input, textarea {
  transition: all 320ms ease;
}

input:focus, textarea:focus { border-color: var(--red) !important; }

#logo {
  opacity: 0;
  transform: rotateZ(135deg) scale(0) translateY(-100vh);
  transition: all 640ms var(--ease);
  transition-delay: 320ms;
}

.sample {
  animation-direction: alternate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-name: showcase;
  animation-timing-function: ease;
  transform-origin: 0 0;
}

.sample.s-slow { animation-duration: 20s; }

section article:nth-of-type(odd) .sample {
  animation-delay: 2s;
}

section article:nth-of-type(even) .sample {
  animation-delay: 4s;
}

.loaded #logo {
  opacity: 1;
  transform: rotateZ(0) scale(1) translateY(0);
}

@keyframes showcase {
  0%, 10% { transform: translateY(0); }
  90%, 100% { transform: translateY(calc(-100% + 16rem)); }
}


/* Scroll */
#scroll-top { transform: translateY(50vh); transition: all 320ms var(--ease); }
#scroll-top.active { transform: translateY(0); }

/* Shapes */
.shape { border-radius: 50%; shape-margin: 1rem; shape-outside: circle(40%); }

/* Sticky */
.sticky { position: -webkit-sticky; position: sticky; }
.relative { transform: translateZ(0); }